
.nbs-flexisel-container {
	position:relative;
	max-width:100%;
}
.nbs-flexisel-ul {
	position:relative;
	width:9999px;
	margin:0px;
	padding:0px;
	list-style-type:none;	
		
}

.nbs-flexisel-inner {
	overflow:hidden;
	float:left;
	width:100%;
		
}

.nbs-flexisel-item {
	float:left;
	margin:0px;
	padding:0px;
	cursor:pointer;
	position:relative;

}
/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
	width: 22px;
	height: 22px; 
	position: absolute;
	cursor: pointer;
	z-index: 100;
	opacity: 0.5;
}

.nbs-flexisel-nav-left {
	left: 10px;
	background: url(../images/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
	right: 5px;
	background: url(../images/button-next.png) no-repeat;
}




.navbar{
background: #ffcfa7 !important;
}

.navbar-nav{
background: #ffcfa7 !important; 
}


.navbar .nav > li > a{
color: #5a5651;
height:40px;
margin-top:5px;
padding-top:10px;
-webkit-transition:background 1000ms ease;
-moz-transition:background 1000ms ease;
-o-transition:background 1000ms ease;
transition:background 1000ms ease;
}

.navbar .nav > li > a:hover{
background:#ffe7d3 !important;
-webkit-transition:background 500ms ease;
-moz-transition:background 500ms ease;
-o-transition:background 500ms ease;
transition:background 500ms ease;
}


.dropdown-menu a{
-webkit-transition:background 1000ms ease;
-moz-transition:background 1000ms ease;
-o-transition:background 1000ms ease;
transition:background 1000ms ease;
}

.dropdown-menu a:hover,.dropdown-menu a:focus{
color: #000 !important;
background:#ffcfa7 !important;
-webkit-transition:background 500ms ease;
-moz-transition:background 500ms ease;
-o-transition:background 500ms ease;
transition:background 500ms ease;
}





.shaddow {
-moz-box-shadow:2px 2px 4px 1px #888;box-shadow:2px 2px 4px 1px #888;
}



* html img,
* html .png{
position:relative;
behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
this.src = "transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)
);
}


#main {
padding-left: 10px;
padding-right: 10px;
min-width: 320px;
max-width: 960px;
text-align: left;
}

#header {
text-align: left;
margin-top: 30px;
margin-bottom: 10px;
}






.kalender {
border:0px solid #ccc;
}

.tagnr {
display:table-cell;
text-align:center;
vertical-align:middle;
width:20px;
height:20px;
font-size: 10px;
color:#fff;
}







.bordertop {
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.borderbottom {
-moz-border-radius-bottomleft: 10px;
-moz-border-radius-bottomright: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.smallroundcorners {
-moz-border-radius: 5px;border-radius: 5px;
}

.bigroundcorners {
-moz-border-radius: 15px;border-radius: 15px;
}




#cont {
padding-top:0;
margin-bottom:30px;
}


#footer {
margin-top:20px;
margin-bottom:50px;
border-top: 1px solid #ccc;
padding: 10px;
padding-left: 20px;
color: #444;
font-size:12px;
}


#footer a {
color: #444;
font-size:12px;
}







a {
outline:0; -moz-outline:0;
}

#lightimg img {
opacity:0.5;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
#lightimg img:hover {
opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

body {

margin: 0;

padding: 0;
}




html {
min-height: 101%;
max-width: 100%;
}

.small {
font-size: 11px;
}

form {
display: inline;
}



@media (max-width: 767px){
body {

padding-left: 0px;

padding-right: 0px;
}



 
}

@media (min-width: 768px) and (max-width: 979px){
body {

padding-left: 10px;

padding-right: 10px;
}




}










/*===== Seitennummerierung =====*/

#seiten {
font-size:11px;
}
#seiten a {
display:block;
background-color:#ededed;
text-decoration:none;
float:left;
border:1px solid #aaa;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
padding:3px;
padding-left:7px;
padding-right:7px;
margin:3px;
}
#seiten a:hover {
background-color:#ddd;
}
#seiten #nolink {
opacity:0.4;filter:alpha(opacity=40)
display:block;
float:left;
border:1px solid #aaa;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
padding:3px;
padding-left:7px;
padding-right:7px;
margin:3px;
}
#seiten #current {
display:block;
background-color:#fff;
float:left;
border:1px solid #aaa;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
padding:3px;
padding-left:7px;
padding-right:7px;
margin:3px;
}
#seiten #dots {
display:block;
float:left;
padding:3px;
margin:3px;
}








/*===== Sonstiges =====*/

.msg {background:#f0f0f0; margin-left:55px; margin-right:55px; margin-bottom:20px; }
.rtop, .rbottom{
display:block;
background:#fff;
}
.rtop *, .rbottom *{
display: block;
height: 1px;
overflow: hidden;
background:#f0f0f0;
}
.r1{margin: 0 5px}
.r2{margin: 0 3px}
.r3{margin: 0 2px}
.r4{
margin: 0 1px;
height: 2px
}

